{% extends "base.html" %}

{% block extrafooter %}
<script>
$(function() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var coords = position.coords,
          lng = coords.longitude,
          lat = coords.latitude,
          latLng = new google.maps.LatLng(lat, lng),
          geocoder = new google.maps.Geocoder(),
          address;
      geocoder.geocode({'latLng': latLng}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          if (results[1]) {
            address = results[1].formatted_address;
            $('#located b').html(address);
          }
        }
      });
      $('#lookup input[name=lnglat]').val(lng + ',' + lat);
      $('#lookup input[name=address]').val(address);
      $('#lookup').show();
    });
  }
});
</script>
{% endblock %}

{% block content %}
<div class="what">
  <p><b>What is this?</b></p>
  <p>Type in your address, and it’ll show you who represents you, including:</p>
  <ul>
    <li>Congressperson</li>
    <li>State Senator</li>
    <li>General Assembly Delegate(s)/State Representative(s)</li>
    <li>City Council member (Baltimore &amp; Houston only)</li>
  </ul>
</div>
<style>
#lookup { display: none; }
</style>

<div id="geolocate">
  <form action="/lookup/" method="get" id="lookup">
    <b></b> <input type="submit" value="Look up reps from current location">
    <input type="hidden" name="lnglat">
    <input type="hidden" name="address">
  </form>
</div>

<div id="geocode">
  <form action="/search/" method="get" id="search">
    <label>Your street address: <input name="q" id="q"></label> <input type="submit" value="Search">
  </form>
</div>

<p class="note">Your street address is necessary to look up your representatives. We don’t
save or store your address</p>
{% endblock %}
