{% extends "base.html" %}

{% block title %}Political representatives for this location{% endblock %}

{% block content %}
<img src="{{ map_url|safe }}">
<h2>Your representation</h2>
{% if address %}<p>{{ address }}</p>{% endif %}
<ul class="districts">
{% for district in districts %}
  <li class="district">
    <b class="layer">{{ district.layer.name }}</b>—<span class="name">{{ district.pretty_name }}</span>
    {% for rep in district.representatives.all %}
      <div class="representative">
        <a href="{{ rep.url }}">{{ rep.pretty_name }}</a>
      </div>
    {% endfor %}
  </li>
{% endfor %}
</ul>
<p class="note">NOTE: Geocoding (converting a street address to a
longitude/latitude point) and geolocating (determining your location
from GPS or radio triangulation) are inexact sciences—this service is
provided without warranty or guarantee of accuracy.
</p>
{% endblock %}
